
<h2 class="text-center"><%= link_to "New comment", new_list_bookmark_path(@list), class: 'btn btn-primary' %></h2>

<div class="container">

  <% @list.bookmarks.each do |b|%>
    <div class="card-product my-3">
      <%= image_tag b.movie.poster_url %>
      <div class="card-product-infos">
        <h2><%= b.movie.title %></h2>
        <p><%= b.comment %> . <%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, bookmark_path(b), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
      </div>
    </div>
  <% end %>
</div>
