<h1>Show Lists</h1>

<h2><%= @list.name %></h2>
<% @list.bookmarks.each do |b|%>
<p><%= b.comment %> . <%= link_to "Delete", bookmark_path(b), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
<% end %>
<%= link_to "New", new_list_bookmark_path(@list) %>
<%# params maybe @bookmark %>

<%= link_to 'Home', lists_path%>
